= form_for @showing do |f|
  - if @showing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@showing.errors.count, "error")} prohibited this showing from being saved:"
      %ul
        - @showing.errors.full_messages.each do |message|
          %li= message
  %div{'class' => 'form-group'}
    .field
      = f.label :startTime
      = f.datetime_select(:startTime, {},{:class => 'form-control'} )
    .field
      = f.label :film
      = f.collection_select(:film_id, Film.all, :id, :title, {},{:class => 'form-control'})
    .field
      = f.label :room
      = f.collection_select(:room_id, Film.all, :id, :id, {},{:class => 'form-control'})
    .actions
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Back', showings_path, class: 'btn btn-primary'
