- @film = @showing.film
- @room = @showing.room

%div{'class' => 'container'}
    %div{'class' => 'row booking-details'}
        %div{'class' => 'col-3 booking-img'}
            //image
            - if @film.poster.attached?
                %img{:src => "#{url_for(@film.poster)}"}
            - else
                %p= t('no_image')
        %div{'class' => 'col-6 booking-film'}
            // film details
            %div{'class' => 'booking-film-header'}
                %h1= @film.title
            %div{'class' => 'booking-film-content'}
                %p
                    %span= t('.duration')
                    = "#{@film.duration} hours"
                %p
                    %span= t('.language')
                    = @film.language
                %p
                    %span= t('.synopsis')
                    = @film.synopsis
        %div{'class' => 'col-3 booking-showing'}
            // showing details
            %div{'class' => 'booking-showing-header'}
                %h2= "Details"
                %span= "When "
                %p{'class' => 'text-right'}
                    = "#{@showing.startTime.strftime('%d/%m/%Y')} "
                    %br
                    = "#{@showing.startTime.strftime('%I:%M%p')}"
    %div{'class' => 'alert', 'id' => 'alerts', 'style' => 'display: none;'}
        %div{'class' => 'details'}
            %p= t('.details')
            %span= t('.when')
    %div{'class' => 'row booking-form'}
        %div{'class' => 'col-12'}
            - if user_signed_in?
                = render('rooms/seating-partial') # Include seat block
            - else
                %div{'class' => 'mt-5 login-partial'}
                    %h2= t('login_partial_title')
                    %p= t('login_partial_detail')
                    = render('shared/login-partial')