- @film = @showing.film
- @room = @showing.room

%div{'class' => 'container'}
    %div{'class' => 'row booking-details'}
        %div{'class' => 'col-3 booking-img'}
            //image
            - if @film.poster.attached?
                %img{:src => "#{url_for(@film.poster)}"}
            - else
                %p "No image available"
        %div{'class' => 'col-6 booking-film'}
            // film details
            %div{'class' => 'booking-film-header'}
                %h1= @film.title
            %div{'class' => 'booking-film-content'}
                %p
                    %span= "Duration "
                    = "#{@film.duration} hours"
                %p
                    %span= "Language "
                    = @film.Language
                %p
                    %span= "Synopsis "
                    = @film.synopsis
        %div{'class' => 'col-3 booking-showing'}
            // showing details
            %div{'class' => 'booking-showing-header'}
                %h2= "Details"
                %span= "When "
                %p{'class' => 'text-right'}
                    = "#{@showing.startTime.strftime('%m/%d/%Y')} "
                    %br
                    = "#{@showing.startTime.strftime('%I:%M%p')}"
    %div{'class' => 'alert', 'id' => 'alerts', 'style' => 'display: none;'}
        %div{'class' => 'details'}
            %p 
            %span
    %div{'class' => 'row booking-form'}
        %div{'class' => 'col-12'}
            - if user_signed_in?
                = render('rooms/seating-partial') # Include seat block
            - else
                %div{'class' => 'mt-5 bg-warning p-4'}
                    %h2= "You must have an account to make a booking!"
                    %p= "Login below, or sign-up to make a booking"
                    = render('shared/login-partial')