%div{'class' => 'container'}

    %h4
        = "Showing: "
        %span{'class' => 'bold'}= "#{@showing.film.title}"
        =  " at "
        %span{'class' => 'bold'}= @showing.startTime.strftime('%d/%m/%Y')
        = " "
        %span{'class' => 'bold'}=  @showing.startTime.strftime('%I:%M%p')

    = render 'form'

    //= link_to 'Back', showings_path, class: 'btn btn-primary'
