- if @films.count != 0
  %h1 Current Showings
  -# Films that are showing in the next week in a slider
  %div{'id' => 'slider'}
    %a{ 'class' => 'control_next'}= ">"
    %a{ 'class' => 'control_prev'}= "<"
    %ul
      - @films.each do |film|
        %li
          %a{'href' => "#{film_url(film)}"}
            %span= film.title
            - if film.poster.attached?
              %img{:src => "#{url_for(film.poster)}"}
            - else
              %p "No image available"
  -# Films with their showings for the next week in rows
  %hr{'class' => 'custom-hr'}
  %div{'class' => 'container showing-week'}
    %h2 Next week showings
    - @films.each do |film| # For each film get next weeks showings for it
      - @filmShowings = @showings.where(film: film) # putting them in a container with a scrollbbar
      %div{'class' => 'showing-week-container d-flex'}
        %div{'class' => 'showing-week-film'}
          - if film.poster.attached?
            %img{:src => "#{url_for(film.poster)}"}
          - else
            %p "No image available"

        %div{'class' => 'showing-week-showing-container'}   
          - @filmShowings.each do |showing|
            %div{'class' => 'showing-week-showing'}
              %p= "Day: #{showing.startTime.strftime('%d/%m/%Y')}"
              %p= "Hour: #{showing.startTime.strftime('%I:%M%p')}"
              %br
              %p{'class' => 'view-button'}
                = link_to 'View', showing_path(showing)
- else
  %h1{'class' => 'sorry-message'} Sorry there are no showings this week