%p#notice= notice

%p
  %b Start Time:
  = @showing.startTime
%p
  %b Film:
  = @showing.film['title']
%p
  %b Room:
  = @showing.room['id']

= link_to 'Edit', edit_showing_path(@showing)
\|
= link_to 'Back', showings_path
