%div{'class' => 'container'}
  %div{'class' => 'row showing-show'}
    %div{'class' => 'col-5 showing-img'}
      - if @showing.film.poster.attached?
        %img{:src => "#{url_for(@showing.film.poster)}"}
      - else
        %p "No image available"
    %div{'class' => 'col-7 showing-title'}
      %h1= @showing.film['title']
      %div{'class' => 'mt-2 showing-details'}
        %h4
          %span= "Start Time: "
          = @showing.startTime.strftime('%m/%d/%Y')
          = " at "
          =  @showing.startTime.strftime('%I:%M%p')
        %h4
          %span= "Duration: "
          = "#{@showing.film.duration}hours"
        %h5= "Room: #{@showing.room.id}"
        %p= @showing.film.synopsis
     
      = link_to 'Book', "/showings/#{@showing.id}/book", class: 'book-button'
%div{'class' => 'mt-3'}
  - if user_signed_in?
    - if current_user.admin?
      = link_to 'Edit', edit_showing_path(@showing), class: 'edit-button'

  = link_to 'Back', showings_path, class: 'back-button'

    