%p#notice= notice



%div{'class' => 'container'}
    %div{'class' => 'row booking-details'}
        %div{'class' => 'col-4 booking-img'}
            //image
            - if @film.poster.attached?
                %img{:src => "#{url_for(@film.poster)}"}
            - else
                %p "No image available"
        %div{'class' => 'col-8'}
            %div{'class' => 'row'}
                %div{'class' => 'col-8 booking-film'}
                    // film details
                    %div{'class' => 'booking-film-header'}
                        %h1= @film.title
                    %div{'class' => 'booking-film-content'}
                        %p
                            %span= t('.duration')
                            = "#{@film.duration} hours"
                        %p
                            %span= t('.language')
                            = @film.language
                        %p
                            %span= t('.synopsis')
                            = @film.synopsis
                %div{'class' => 'col-4 booking-showing'}
                    // showing details
                    %div{'class' => 'booking-showing-header'}
                        %h2= t('.details')
                        %span= t('.when')
                        %p{'class' => 'text-right'}
                            = "#{@showing.startTime.strftime('%d/%m/%Y')} "
                            %br
                                = "#{@showing.startTime.strftime('%I:%M%p')}"
            %div{'class' => 'row'}
                %div{'class' => 'col-12 booking-seats'}
                    %h1= t('.seatTitle')
                    - @seats.each do |seat|
                        %span{'class' => 'seat'}= seat.seatNumber





// could add custom seat chart to show the booked seats


= link_to 'Back', '/users/show', class: 'back-button'
= link_to 'Cancel Booking', @booking, method: :delete, data: { confirm: 'Are you sure?' }

