%footer
  %div{'class' => 'main-footer'}
    = link_to 'Showings', showings_path
    %br
    = link_to 'Films', films_path
    %br
    = link_to 'My Bookings', '/users/show'
    %br
    = link_to 'Edit Profile', '/users/edit'
    %br
    %span!= "&copy; " + t('company') + " #{Time.now.year}. All rights reserved"
