%header
    %div{'class' => 'main-header'}
        %nav{'class' => 'navbar navbar-expand-sm navbar-light bg-light'}
            %a{'class' => 'navbar-brand', 'href' => '/'}= t('app_title')
            %div{'class' => 'collapse navbar-collapse', 'id' => 'navbarNav'}
                %ul{'class' => 'navbar-nav'}
                    %li{'class' => 'nav-item '}
                        %a{'class' => 'nav-link', 'href' => '/'}Home
                    %li{'class' => 'nav-item '}
                        %a{'class' => 'nav-link', 'href' => '/showings'}Showings
                    %li{'class' => 'nav-item '}
                        %a{'class' => 'nav-link', 'href' => '/films'}Films
                    %li{'class' => 'nav-item '}
                        %a{'class' => 'nav-link', 'href' => '/contact'}Contact Us
            %ul{'class' => 'navbar-nav float-right nav-two'}
                - if user_signed_in?
                    %li{'class' => 'nav-item'}
                        %p{'class' => 'navbar-text'}= "#{current_user.email}"
                    %li{'class' => 'nav-item ml-2'}
                        = link_to 'Profile', edit_user_registration_path, class: "btn btn-outline-primary"
                    %li{'class' => 'nav-item ml-2'}
                        = link_to t('Logout'), destroy_user_session_path, method: 'delete', class: "btn btn-outline-primary"
                - else
                    %li{'class' => 'nav-item'}
                        = link_to 'Login', new_user_session_path, class: "btn btn-outline-primary"
                    %li{'class' => 'nav-item ml-2'}
                        = link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-primary"