%p#notice= notice

%p
  %b Forename:
  = @customer.forename
%p
  %b Surname:
  = @customer.surname
%p
  %b Phonenumber:
  = @customer.phonenumber

= link_to 'Edit', edit_customer_path(@customer)
\|
= link_to 'Back', customers_path
