= form_for @film do |f|
  - if @film.errors.any?
    #error_explanation
      %h2= "#{pluralize(@film.errors.count, "error")} prohibited this film from being saved:"
      %ul
        - @film.errors.full_messages.each do |message|
          %li= message
  %div{'class' => 'form-group'}
    .field
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .field
      = f.label :synopsis
      = f.text_field :synopsis, class: 'form-control'
    .field
      = f.label :rating
      = f.number_field :rating, step: 0.01, class: 'form-control'
    .field
      = f.label :duration
      = f.number_field :duration, step: 0.01, class: 'form-control'
    .field
      = f.label :Language
      = f.text_field :Language, class: 'form-control'
    .field
      = f.label :Release_date
      = f.date_field :Release_date, class: 'form-control'
    .field
      = f.label "Poster Image"
      = f.file_field :poster, class: 'form-control-file'
    .actions
      = f.submit 'Save', class: 'btn btn-primary float-right'
