= form_for @film do |f|
  - if @film.errors.any?
    #error_explanation
      %h2= "#{pluralize(@film.errors.count, "error")} prohibited this film from being saved:"
      %ul
        - @film.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :synopsis
    = f.text_field :synopsis
  .field
    = f.label :rating
    = f.number_field :rating, step: 0.01
  .field
    = f.label :Language
    = f.text_field :Language
  .field
    = f.label :Release_date
    = f.date_field :Release_date
  .field
    = f.label "Poster Image"
    = f.file_field :poster
  .actions
    = f.submit 'Save'
