!!!

%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge'}

    %title= t('app_title')

    %meta{'name' => 'description', 'content' => t('app_description')}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = yield :javascript_includes  


    = csrf_meta_tags

  %body
    
    = render 'shared/header'
    %main
      - flash.each do |key, value|
        -if key == 'notice'
          %div{'class' => 'alert alert-success', 'id' => key}
            = value
        - else
          %div{'class' => 'alert alert-danger', 'id' => key}
            = value
        

      = yield

    = render 'shared/footer'
    
